.list-container-data {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  padding: 25px;

  background-color: #2c364c;
  margin: 10px;
  border-radius: 8px;
}

.logo-image {
  height: 85px;
  width: 90px;
}

.card-container {
  display: flex;
  flex-direction: row;
}

.title-container {
  display: flex;
  flex-direction: column;
}
.title-name {
  color: #ffffff;
  font-size: 19px;
  margin-left: 10px;
}

.star-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -25px;
  justify-content: space-between;
  width: 70px;
}
.star-image {
  color: yellow;
  height: 25px;
  width: 25px;
  margin-left: 10px;
}

.description {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 25px;
  margin-top: 0px;
}

.para-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
}
